.alt-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  position: fixed;
  top: 25px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 8;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
